services: 
  api_php: 
    build: ./app
    command: php -S 0.0.0.0:8080 -t public public/router.php
    container_name: api_php
    networks:
      - huflit-network
    environment: 
      - DB_HOST=mssql_global 
      - DB_PORT=1433 
      - DB_NAME=HUFLIT 
      - DB_USER=sa 
      - DB_PASS=${MSSQL_SA_PASSWORD}
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_USER=admin
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/var/www/html
    depends_on: 
      - mssql_global
      - mongodb

  app_php:
    build: ./app
    command: php -S 0.0.0.0:8081 -t public
    container_name: app_php
    networks:
      - huflit-network
    environment: 
      - DB_HOST=mssql_global 
      - DB_PORT=1433 
      - DB_NAME=HUFLIT 
      - DB_USER=sa 
      - DB_PASS=${MSSQL_SA_PASSWORD}
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_USER=admin
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    ports:
      - "8081:8081"
    volumes:
      - ./app:/var/www/html
    depends_on: 
      - mssql_global
      - mongodb
  
  mssql_global:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_global
    networks:
      - huflit-network
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14333:1433"
    volumes:
      - ./db/global:/docker-entrypoint-initdb.d
      - sqlserver_data_global:/var/opt/mssql
  mssql_site_a:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_site_a
    networks:
      - huflit-network
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14334:1433"
    volumes:
      - ./db/site_a:/docker-entrypoint-initdb.d
      - sqlserver_data_a:/var/opt/mssql

  mssql_site_b:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_site_b
    networks:
      - huflit-network
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14335:1433"
    volumes:
      - ./db/site_b:/docker-entrypoint-initdb.d
      - sqlserver_data_b:/var/opt/mssql

  mssql_site_c:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_site_c
    networks:
      - huflit-network
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14336:1433"
    volumes:
      - ./db/site_c:/docker-entrypoint-initdb.d
      - sqlserver_data_c:/var/opt/mssql

  mongodb:
    image: mongo:latest
    container_name: mongodb
    networks:
      - huflit-network
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=huflit_logs
    ports:
      - "27017:27017"
    volumes:
      - ./db/mongodb/init:/docker-entrypoint-initdb.d
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

  

volumes:
  sqlserver_data_a:
  sqlserver_data_b:
  sqlserver_data_c:
  sqlserver_data_global:
  mongodb_data:
  mongodb_config:
    
networks:
    huflit-network:
        name: huflit-network
        driver: bridge