services: 
  api_php: 
    build: .
    command: php -S 0.0.0.0:8080 -t public public/router.php
    container_name: api_php
    networks:
      - huflit-network
    environment: 
      - DB_HOST=postgres 
      - DB_PORT=5432 
      - DB_NAME=huflit 
      - DB_USER=admin 
      - DB_PASS=${POSTGRES_PASSWORD}
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_USER=admin
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    ports: 
      - "8080:8080"
    volumes:
      - .:/var/www/html
    depends_on: 
      - postgres
      - mongodb

  app_php:
    build: .
    command: php -S 0.0.0.0:8081 -t public public/router.php
    container_name: app_php
    networks:
      - huflit-network
    environment: 
      - DB_HOST=postgres 
      - DB_PORT=5432 
      - DB_NAME=huflit 
      - DB_USER=admin 
      - DB_PASS=${POSTGRES_PASSWORD}
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_USER=admin
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    ports:
      - "8081:8081"
    volumes:
      - .:/var/www/html
    depends_on: 
      - postgres
      - mongodb
  
  postgres:
    image: postgres:16
    container_name: postgres
    networks:
      - huflit-network
    environment:
      - POSTGRES_DB=huflit
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./database/global/init_postgres.sql:/docker-entrypoint-initdb.d/01_init.sql
      - ./database/global/triggers_postgres.sql:/docker-entrypoint-initdb.d/02_triggers.sql
      - ./database/global/seed_postgres.sql:/docker-entrypoint-initdb.d/03_seed.sql
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest
    container_name: mongodb
    networks:
      - huflit-network
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=huflit_logs
    ports:
      - "27017:27017"
    volumes:
      - ./database/mongodb/init:/docker-entrypoint-initdb.d
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

volumes:
  postgres_data:
  mongodb_data:
  mongodb_config:
    
networks:
    huflit-network:
        name: huflit-network
        driver: bridge